body{
  text-align: center;
  background-color: #011F3F;
}
.heading{
  padding-top: 5%;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 3rem;
}
.box{
  border: 10px solid black;
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 20%;
  margin: 25px;
}
.box1{
  background-color: green;



}
.box2{
  background-color: red;

}
.box3{
  background-color: yellow;


}
.box4{
  background-color: blue;

}

.blink{
opacity: 0.5;
background-color: maroon;

}
